.cell {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.win {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}
